body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #222;
  color: #f93;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  width: 1536px;
  height: 768px;
  background-color: #333;
  
  cursor: crosshair;

  margin: 0.5em auto;
}

canvas.canvas-pan {
  cursor: grab;
}

canvas.canvas-pan:active {
  cursor: grabbing;
}

canvas.canvas-hover {
  cursor: pointer;
}

canvas.canvas-hover:active {
  cursor: pointer;
}
